{% extends "layout.html" %}

{% block body %}
    <h1>您的八字</h1>
        <table width="1000" border="1">
            <thead>
                <tr>
                    <th>年柱</th>
                    <th>月柱</th>
                    <th>日柱</th>
                    <th>時柱</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{listg[0]}}{{listz[0]}}</td>
                    <td>{{listg[1]}}{{listz[1]}}</td>
                    <td>{{listg[2]}}{{listz[2]}}</td>
                    <td>{{listg[3]}}{{listz[3]}}</td>
                </tr>
                <tr>
                    <td>{% for list in listy %}  {{list}}/  {% endfor %}</td>
                    <td>{% for lis in listm %}  {{lis}}/  {% endfor %}</td>
                    <td>{% for li in listd %}  {{li}}/  {% endfor %}</td>
                    <td>{% for l in listh %}  {{l}}/  {% endfor %}</td>
                </tr>
            </tbody>
            
            
            
            
        </table>
        
{% endblock %}
